@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
  width: 100%;
  min-height: 100%;
  color: #fff;
  background: linear-gradient(120deg, #FFD5B5 0%, #C1E8E3 100%);
}
